*{
    background-color: #000000;
}
    
    /* Reset de estilos */
body, h1, h2, h3, p, ul, li, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Estilos generales */
body {
    font-family:'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #ffffff;
}

.desc {
    border: 0.5px solid #00f;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
    animation: neon-border 2.3s infinite alternate;
    font-size: 20px;
}

.profile-image {
    max-width: 20%;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    animation: neon-border 1s infinite alternate;
}

@keyframes neon-border {
    0%, 100% {
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

header {
    background-color: #000000;
    padding: 80px 0;
    position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 5px;
    animation: neon-glow 0.5s infinite alternate;
    color: #00f;
    text-shadow: 0 0 10px rgb(1, 14, 199);
    animation: flicker 3s infinite;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px 0;
}

.nav-list li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #00f;
}

/* Resto de los estilos... */

/* Efecto de fuente estilo cartel de neón */
.neon-text {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 5px;
    animation: neon-glow 1s infinite alternate;
    color: #00f;
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
    animation: flicker 3s infinite;
    padding: 1px;
}

/* Estilos para los proyectos */
.project {
    border: 0.5px solid #00f;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
    animation: neon-border 2.3s infinite alternate;
}

@keyframes neon-border {
    0%, 100% {
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 15px rgba(0, 0, 255, 0.8);
    }
}

.project-content {
    text-align: center;
    margin-bottom: 15px;
}

.project img {
    max-width: 20%;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    animation: neon-border 1s infinite alternate;
}

.selected {
    border: 0.5px solid #00f;
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
    animation: neon-glow 1s infinite alternate;
}

/* Estilo para el pie de página */
.container {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

section a {
    color: #00f;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

section a:hover {
    color: #0bf;
}

/* Estilos para la sección "Sobre mí" */
#about {
    background-color: #000000;
    color: #6d1d1d;
    padding: 50px 0;
    animation: neon-border 2.3s infinite alternate;
}

#about .container {
    text-align: center;
    padding: 10px;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5), 0 0 20px rgba(0, 0, 255, 0.5);
    animation: neon-border 1s infinite alternate;
}

.about-description {
    border: 0.5px solid #00f;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
    animation: neon-border 2.3s infinite alternate;
}